.loaderArea {
    /*background: radial-gradient(circle, rgba(255,214,0,1) 0%, rgba(255,160,0,1) 100%);*/
    background: linear-gradient(0deg, rgba(203,203,203,1) 0%, rgba(255,255,255,1) 100%);
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loaderArea img
{
    width: 60px;
    height: 60px;
}



.welcome_about
{
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.welcome_form
{
    transform: translate(120%, 0);
    opacity: 0;
    transition: all 0.8s ease 0.4s;
}
.about-me__title
{
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.about-me__text
{
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.4s;
}

.card
{
    transform: translate(200%, 0);
    transition: all 0.3s ease 0s;
    opacity: 0;
}

.card__block.anim__active .card:nth-child(1)
{
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.4s; 
}
.card__block.anim__active .card:nth-child(2)
{
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.6s; 
}
.card-more
{
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.8s;
}



.page-info__headline
{
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.4s;
}
.big-card__container .card.anim__active
{
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.4s; 
}

.portfolio-banner_brand_name
{
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.portfolio-banner_brand_site-type
{
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0.6s;
}


.portfolio_about_task div
{
    transform: translate(0, 120%);
    transition: all 0.4s ease 0s;
    opacity: 0;
}
.portfolio_about_task.anim__active div:nth-child(1)
{
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.6s ease 0.4s; 
}
.portfolio_about_task.anim__active div:nth-child(2)
{
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.6s ease 0.6s; 
}
.portfolio_about_task.anim__active div:nth-child(3)
{
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.6s ease 0.8s; 
}


.portfolio_about_info
{
    transform: translate(120%, 0);
    transition: all 0.4s ease 0s;
    opacity: 0;
}
.portfolio_about_info.anim__active
{
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.4s ease 1.4s;
}


.portfolio_preview
{
    transform: translate(120%, 0);
    transition: all 0.8s ease 0s;
    opacity: 0;
}
.block
{
    box-shadow: none;
}
.block.anim__active
{
    transition-delay: 1s;
    box-shadow: 10px 10px 0px 4px #FFD600, -10px -10px 0px 4px #000000;
}

.portfolio_made ul li
{
    transform: translate(-120%, 0);
    transition: all 0.3s ease 0s;
}
.portfolio_made.anim__active ul li
{
    transform: translate(0, 0);
}
.portfolio_made.anim__active ul li:nth-child(1)
{
    transition: all 0.4s ease 0.1s;
}
.portfolio_made.anim__active ul li:nth-child(2)
{
    transition: all 0.4s ease 0.2s;
}
.portfolio_made.anim__active ul li:nth-child(3)
{ 
    transition: all 0.4s ease 0.3s;
}
.portfolio_made.anim__active ul li:nth-child(4)
{   
    transition: all 0.4s ease 0.4s;
}
.portfolio_made.anim__active ul li:nth-child(5)
{ 
    transition: all 0.4s ease 0.5s;
}
.portfolio_made.anim__active ul li:nth-child(6)
{ 
    transition: all 0.4s ease 0.5s;
}
.portfolio_made.anim__active ul li:nth-child(7)
{ 
    transition: all 0.4s ease 0.6s;
}
.portfolio_made.anim__active ul li:nth-child(8)
{ 
    transition: all 0.4s ease 0.7s;
}
.portfolio_made.anim__active ul li:nth-child(9)
{ 
    transition: all 0.4s ease 0.8s;
}
.portfolio_made.anim__active ul li:nth-child(10)
{ 
    transition: all 0.4s ease 0.9s;
}
.portfolio_made h2
{
    transform: translate(0, 120%);
    transition: all 0.8s ease 0s;
    opacity: 0;
}
.portfolio_made.anim__active h2
{
    transform: translate(0px, 0px);
    opacity: 1
}

.portfolio_result h2
{
    transform: translate(0px, 120%);
    opacity: 0;
}
.portfolio_result.anim__active h2
{
    transform: translate(0, 0);
    transition: all 0.8s ease 0s;
    opacity: 1;
}
.portfolio_result span
{
    transform: translate(120%, 0);
    opacity: 0;
}
.portfolio_result.anim__active span
{
    transform: translate(0, 0);
    transition: all 0.8s ease 0.4s;
    opacity: 1;
}


.portfolio_instagram h2, .portfolio_instagram span, .portfolio_instagram div
{
    transform: translate(0, 120%);
    opacity: 0;
}
.portfolio_instagram.anim__active h2
{
    transform: translate(0, 0);
    transition: all 0.8s ease 0s;
    opacity: 1;
}
.portfolio_instagram.anim__active span
{
    transform: translate(0, 0);
    transition: all 0.8s ease 0.2s;
    opacity: 1;
}
.portfolio_instagram.anim__active div
{
    transform: translate(0, 0);
    transition: all 0.4s ease 0.8s;
    opacity: 1;
}


.post_footer_contact-messages b, .post_footer_contact-messages span
{
    transform: translate(0, 120%);
    opacity: 0;
}
.post_footer_contact-messages.anim__active b
{
    transform: translate(0, 0);
    transition: all 0.8s ease 0s;
    opacity: 1;
}
.post_footer_contact-messages.anim__active span
{
    transform: translate(0, 0);
    transition: all 0.8s ease 0.4s;
    opacity: 1;
}
.post_footer_contact-form
{
    transform: translate(120%, 0);
    transition: all 0.8s ease 0.8s;
    opacity: 0;
}
.post_footer_share
{
    transform: translate(0, 120%);
    transition: all 0.8s ease 0.9s;
    opacity: 1;
}


.anim__active
{
    transform: translate(0px, 0px);
    opacity: 1;
}
.anim-once
{
    opacity: 0.3;
}
.process_card_number_1.anim__active
{
    animation-name: ProcessCard;
    animation-delay: 0.2s;
    animation-duration: 1s; 
}
.process_card_number_2.anim__active
{
    animation-name: ProcessCard;
    animation-duration: 1s;
    animation-delay: 1.4s;
}
.process_card_number_3.anim__active
{
    animation-name: ProcessCard;
    animation-duration: 1s;
    animation-delay: 2.6s;
}
@keyframes ProcessCard
{
    0%
    {
        opacity: 0.3;
    }
    30%
    {
        opacity: 2;
    }
    70%
    {
        opacity: 2;
    }
    100%
    {
        opacity: 0.3;
    }
}


